@use '../abstracts/' as *;



.flat-about {
    padding: 299px 0;
    .box-1 {
        margin-bottom: 32px;
    }
    h3 {
        margin-bottom: 12px;
    }
    .bg-video {
        background: $bg-color;
        text-align: end;
        margin-left: 76px;
        margin-top: 17px;
        .img-video {
            img {
                margin-top: -27px;
                margin-bottom: 27px;
            }
        }
        
    }
}
.book-now {
    // background: 
    // linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
    // linear-gradient(153.06deg, #E6902B -0.31%, #A91B3D 99.69%) border-box;
    background:$bg-color border-box,
        $bg-color padding-box;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    position: absolute;
    @include flex-center;
    text-align: center;
    bottom: 69px;
    right: 21px;
    z-index: 99;
    @include transition3;
    &:hover {
        background: 
            linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
            linear-gradient(153.06deg, #E6902B -0.31%, #A91B3D 99.69%) border-box;
    }
    &.slider-home {
        bottom: 104px;
    }
}


// flat video
.img-video {
    position: relative;
    a {
        position: absolute;
        top: 47.2%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background: var(--primary-color2);
        border-radius: 50%;
        padding-left: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition3;
        path {
            @include transition3;
        }
        &:hover {
            background: #E6902B ;
          @include transition3;
         
            path {
                fill: var(--primary-color2);
                @include transition3;
            }
               
        }
    }
}

.ripple::before,
.ripple::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.04);
    -o-box-shadow: 0 0px 0 0px rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 0px 30px rgb(255 255 255 / 10%);
    -webkit-animation: ripple 2s infinite;
    animation: ripple 2s infinite;
}

.ripple::before {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ripple::after {
    content: "";
    position: absolute;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
// flat contests
.flat-contests {
    padding-bottom: 108px;
    position: relative;
    .book-now {
        bottom: 108px;
    }
    .wrap-image {
        padding: 0px 15px 0 36px;
        img {
            border-radius: 8px;
            @include transition3;
            &:hover {
                filter: drop-shadow(0px 0px 8px #A91B3D );
            }
        }
        .box-1 {
            display: flex;
            align-items: end;
            margin-bottom: 19px;
            .image-1 {
                margin-right: 20px;
            }
        }
        .box-2 {
            display: flex;
            align-items: start;
            justify-content: center;
            padding-right: 16px;
            .image-3 {
                margin-right: 20px;
            }
        }
    }
    .wrap-contests {
        padding: 139px 0 0px 93px;
        .heading-section {
            margin-bottom: 34px;
        }
        .check-box {
            margin-bottom: 57px;
            .icon-check {
                &.check-1 {
                    width: 43.4%;
                }
                .icon {
                    margin-bottom: 23px;
                    i {
                        color: #DC4F42;
                        font-size: 10px;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        border-radius: 50%;
                        background: $color-5;
                        margin-right: 12.5px;
                    }
                    h5 {
                        font-weight: 400;
                        line-height: 25px;
                    }
                }
                

            }
        }
    }
}

// 
.flat-outlets {
    padding-bottom: 200px;
    position: relative;
    .book-now {
        bottom: 108px;
    }
    .wrap-heading {
        padding-right: 90px;
        margin-bottom: 99px;
        .heading-section {
            margin-bottom: 44px;
        }
    }
    .wrap-outlets {
        .images {
            img {
                border-radius: 5px;
            }
        }
        .content {
            background: $bg-color;
            padding: 14px 16px 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-top: -70px;
            position: relative;
            .title-kr {
                display: flex;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
                h4 {
                    margin-left: 5px;
                    margin-top: 0px;
                }
            }
            .rating {
                font-size: 12px;
                font-weight: 600;
                width: 61px;
                height: 34px;
                line-height: 34px;
                margin-top: 4px;
                background: #FABE3C;
                text-align: center;
                border-radius: 10px;
                color: var(--primary-color);
            }
        }
    }
}

.thems-counter {
    padding-top: 13px;
    padding-left: 46px;
    padding-right: 8px;
    .counter-box {
        position      : relative;
        margin-bottom: 68px;
        justify-content: space-between;
        &.counter-3,
        &.counter-1 {
            margin-right: 80px;
        }
        &.counter-4 {
            margin-right: -2px;
        }
        .icon-counter {
            margin-right: 27px;
  
            &.icon-2,
            &.icon-4 {
                margin-right: 32px;
            }
            img {
                transition: all 0.5s ease;
            }
        }
  
        .number {
            color        : var(--primary-color2);
            font-size    : 60px;
            font-weight  : 600;
            margin-bottom: 18px;
         
            &::after {
                content: 'K';
                margin-left: -1px;
            }
        }
        h5 {
            font-weight: 600;
            text-align: center;
        }
        &:hover {
            .icon-counter {
                img {
                    transform: rotateY(180deg);
                }
             
            }
        }
    }
    .wrap-one {
        justify-content: end;
    }
}


.flat-download {
    .wrap-images {
        .image-mobi {
         
            img {
                position: relative;
                padding-top: 19px;
                z-index: 9;
                padding-left: 10px;          
            }
            .icon-shadow {
                @include absolute;
            }
        }
        
    }
}

